<div class="nav">
    <div class="menu">
        <img class="mad" src="../../assets/images/MADICON.jpg" style="align-items: center;">

        <div class="header">
            <span class="agriculture"> Ag</span><span class="support">DSS</span>
        </div>
    </div>



    <div class="dropdown">
        <a class="navbar-brand dropbtn " routerLink="location"><i class="fa fa-map-marker" ></i>Location</a>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>



    </div>
    <div class="menu">
        <a class="navbar-brand" routerLink="cropStatistics"><i class="fa fa-bar-chart"></i>Crop Statistics</a>
    </div>
    <div class="menu">
        <a class="navbar-brand" routerLink="cropAnalytics"><i class="fa fa-leaf"></i>Crop Analytics</a>
    </div>
    <div class="menu">
        <a class="navbar-brand" routerLink="traders"><i class="fa fa-handshake-o"></i>Traders/ Suppliers</a>
    </div>
    <div class="menu">
        <a class="navbar-brand" routerLink="traders"><i class="fa fa-database"></i>Data</a>
    </div>
    <div class="menu">
        <a class="navbar-brand" routerLink="location"><i class="fa fa-tachometer"></i>Theme</a>
    </div>





</div>